<main class="editprofile">

    {{#if error}}
    <h2 class="editerror">Something went wrong!! Please reload the page and re-enter the changes you want to see!</h2>
    {{/if}}

    <div class="profileeditcontainer">
        <p>Edit your profile! Here you can insert your new details!</p>
    </div>

    <form method="POST">
        {{#people}}
        <input type="text" class="userinput" name="firstname" placeholder="First Name" value="{{first}}">
        <input type="text" class="userinput" name="lastname" placeholder="Last Name" value="{{last}}">
        <input type="text" class="email" name="email" placeholder="email" value="{{email}}">
        <input type="password" class="password" name="password" placeholder="password" value="{{password}}">
        <input type="number" class="age" name="age" placeholder="age" value="{{age}}">
        <input type="text" class="city" name="city" placeholder="city" value="{{city}}">
        <input type="text" class="url" name="url" placeholder="url" value="{{url}}">
        <button>Update</button>
        {{/people}}
        <input type="hidden" name='_csrf' value="{{csrfToken}}">
    </form>
</main>