<div class="signed-container">

    <h2>WE ARE ONE!</h2>

    {{#people}}
    <li class="list"><a class="list" href="{{url}}">{{first}} {{last}}, </a> {{age}}, <a class="list"
            href="/signed/{{city}}"> {{city}} </a></li>
    {{/people}}

    <a href="./logout"><button>Log Out</button></a>

</div>